body{
    padding-top: 100px;
}
.loading {
    /*position: relative;*/
    z-index:    1000;
    /*margin-left: ;*/
    text-align: center;
    /*display: flex;*/
    vertical-align: middle !important;
    align-items: center;
    margin: auto;
    height: 60px;
    width:  600px;
    margin-bottom: 30px;
    background: rgba( 255, 255, 255, .8 )
    url('loading .gif')
}
.edit_box_and_update_button_togather{
    margin-bottom: 30px;
    width: 560px;
}
.loading image{
    width: 100%;
    height: 100%;
}

.sign-up, .sign-in, .forget-password{
    background-color: dimgray;
    text-align: center ;
}
.profile{
    float: right;
    margin-right: 100px !important;
    margin-top: 10px;
}
.menu{
    float: left;
    margin: 10px;
}

.question_answer, .question_answer_edit_delete{
    width: 600px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px;
}

.ask_question{
    width: 600px;
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px;
    font-size: 18px;
    color: #999;
    text-decoration: none;

}
.ask_question a{
    width: 600px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 18px;
    color: #999;
    text-decoration: none;
}

.question{
    font-weight: bold;
    font-family: Tahoma;
    text-decoration: none;
}
.question, .question a:active, .question a:hover , .question a:visited  {
    color: black;
    font-size: 18px;
}
.question_answer_edit_delete{
    margin: 0 auto;
}
.answer_text_area{
    width: 600px;
    margin-right: 100px;
    margin-bottom: 10px;
    height: 150px;
    float: left;
}

.header-logo{
    display: block;
    float: left;
    width: 80px;
    height: 50px;
    background-size: 80px 23px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 12px;
    margin-left: 100px;
    text-decoration:none;
}

.header-logo a:link, .header-logo a:visited, .header-logo a:hover, .header-logo a:active {
    text-decoration:none;
    color: #a62100;
    font-size: 200%;
}


.show-inline-header{
    display: inline-block;
}
.SiteHeader{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 800;
    color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
    margin-bottom: 0 !important;

}
.answer-count{
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    font-size: large;
    font-weight: 500;
}
.QuestionMain{
    width: 600px;
    background-color: #fff;
    border-radius: 4px;
    margin-left: 150px;
}
.upvote-count span a{
    height: 30px;
    color: #aaa;
    text-align:left;
    text-decoration: none;

}
.upvote-count{
    margin-bottom: 10px !important;
}
.upvote-btn, .downvoted-btn, .follow_btn{
    padding: 5px;
    border: 1px solid #ddd;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #337ab7;
    border-color: #337ab7;
    background: #f1f8fb;
    cursor: pointer;
    border-radius: 4px;
}
.ur_followers{
    padding: 5px;
    border: 1px solid #ddd;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ddd;
    cursor: default;
}
.following_btn{
    padding: 5px;
    border: 1px solid #ddd;
    margin-right: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ddd;
    cursor: pointer;

}
.following_btn:hover{
    border: 1px solid dimgray;
}
.comment-box-btn-togather{
    display: block;
    font-size: 13px;
    padding: 16px;
    margin-top: 10px;
    background: #f6f6f6;
}
.your_recent_comments{
    display: block;
    font-size: 13px;
    padding-left: 16px;
    padding-bottom: 16px;
    /*margin-top: 10px;*/
    background: #f6f6f6;
}
.add-comment{
    width: 300px;
    height: 27px;
    margin-top: 15px;
    /*border-radius: 4px;*/
}
textarea:focus, input:focus{
    outline: none;
}
.btn-primary{
    border-radius: 4px;
    height: 27px;
}

.comments{
    display: block;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 2px;
    background: #f7f7f7;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.last_comment_of_a_answer{
    display: block;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 2px;
    background: #f7f7f7;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.all_comments_of_a_answer, .wrap_comments{
    display: block;
    margin-bottom: -16px;
    border-radius: 2px;
    background: #f7f7f7;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.upvoted_user_modal_wrapper{
    background: rgba(0,0,0,0.65);
    width: 600px;
    height: 200px;
    overflow: scroll;
}
.answer_voter_list{
    width: 600px;

}
.upvoted_count_position_fixed{
    height: 40px;
    width: 600px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 16px;
}
.three-dot-menu{
    float: right;
    cursor: pointer;
}
.update-comment{
    width: 566px;
    height: 30px;
    margin-bottom: 8px;
}
.show_profile{
    width: 150px !important;
    height: 150px !important;
    margin: 16px;
    width: 744px;
}
.show_profile img{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
}
.profile_wraper{
    float: left;
}

.edit_profile_photo {
    position: relative;
    top: -30px;
    left: 40px;
    width: 70px;
    height: 40px;
    text-align: center !important;
    color: #730E15;
    text-align: center;
    font-size: 13px;
}
.edit_profile_photo  a{
    text-align: center;
    color: white;
    background: transparent;
    text-decoration: none;

}
.small_profile_pic img{
    float: left;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    margin: 4px;
}
.answer_content{
    margin-top: 18px;
}
.question_wraper{
    background-color: #fff;
}
.question_answer_user{
    padding-top: 16px;
    border-bottom: 1px solid #ddd;
}
.user_profile div img {
    width: 150px;
    height: 150px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 50%;
}
.user_profile {
    /*float: left;*/
    border-bottom: 1px solid #ddd;
    margin-left: 150px;
    width: 766px;
}
.user_profile_pic{
    width: 300px;
}
.follow_or_unfollow{
    width: 466px;
}

.user_count{
    width: 600px;
    border-bottom: 1px solid #ddd;
    margin-left: 340px;
    margin-bottom: 12px;
    margin-top: 16px;
    font-size: larger;
    color: black;
}
.user_feed_content{
    float: left;
}
.user_feed{
    float: left;
    margin-right: 16px;
}
.feed_header{
    margin-top: 8px;
    margin-left: 150px;
    width: 150px;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    height: 30px;
}
.feed_menu{
    margin-top: 8px;
    margin-left: 150px;
    width: 150px;
    margin-bottom: 8px;
    color: black !important;
    /*border-bottom: 1px solid #ddd;*/
}
.feed_menu a{
    /*color: black;*/
    color: #999;
    text-decoration: none;
}
.user_feed_content_count{
    margin-top: 8px;
    /*margin-left: 150px;*/
    height: 30px;
    width: 600px;
    border-bottom: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.followers{
    float: left;
    /*margin-right: 16px;*/
    height: 200px;
    margin: 16px;
    margin-bottom: 16px;
    width: 268px;
    border-bottom: 1px solid #ddd;

}
.all_follower, .all_following, .user_questions_in_menu{
    float: left;
    width: 600px;
}
.user_profile_pic_in_follower, .user_profile_pic_in_following{
    float: left;
    height: 50px;
    width: 150px;
}
.user_profile_pic_in_upvote_a_answer{
    height: 50px;
    width: 200px;
}
.user_profile_pic_in_follower_space{
    float: left;
    height: 110px;
    width: 268px;
}
.answer_of_a_question_count_in_menu a{
    color: #999;
    font-weight: bold;
}
.answer_of_a_question_count_in_menu{
    margin-bottom: 8px;
    margin-top: 8px;
}

.submit_answer_in_question_menu input{

    margin: 0px 10px 10px 10px;
    height: 30px;
}
.submit_answer_in_question_menu{
    background: #f6f6f6;
    width: 600px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
}
.user_profile_in_question_menu{
    background: #f6f6f6;
    width: 600px;
    border: 1px solid #ddd;
}
.question_answer_in_menu{
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}
.submit-answer {
    margin-bottom: 16px;
}
.update-answer{
    width: 250px;
}
