<div class="show_profile profile_wraper">
  <%= render 'user_profile_pic' %>
  <div class="profile_updater">
    <%= f.file_field :avatar , class: 'choose_image' %>
    <div class="edit_profile_photo ">
      <a href="#">Edit Photo</a>
    </div>
    <%= f.hidden_field :avatar_cache %>
  </div>
</div>
